extends layout

block content
  h1= title
  p#word
  div#msgBox
  input(id="msg", type="text", name="userInput")
  button(id="btnSubmit" type="button") Send!
  div#canvasWrapper
  p Currently online users:
  div#onlineUsers
  script(type='text/javascript' src='/javascripts/pixi.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='/javascripts/main.js')
